<h1>You sent the following data in a POST request:</h1>

<div margin-bottom=10px>
	<table border="1" width=50%>
		<caption>Keys and Values received via URL Query String</caption>
		<th>Key</th>
		<th>Value</th>
		{{#each queryList}}
		<tr>
	    	<td>{{this.name}} 
	    	<td>{{this.value}}
	  	</tr>
	  	{{/each}}
	</table>
</div>

<div>
	<table border="1" width=50%>
		<caption>Keys and Values received in the request Body</caption>
		<th>Key</th>
		<th>Value</th>
		{{#each bodyList}}
		<tr>
	    	<td>{{this.name}} 
	    	<td>{{this.value}}
	  	</tr>
	  	{{/each}}
	</table>
</div>

