<h1>Your Workouts: </h1>
<form method="post">
  <label for="workoutName">Name: </label>
  <input type="text" name="name" id="workoutName">
  <label for="workoutReps">Reps: </label> 
  <input type="number" name="workoutReps" id="workoutReps"> <br>
  <label for="workoutWeight">Weight: </label>
  <input type="number" name="workoutWeight" id="workoutWeight">
  <label for="workoutDate">Date: </label>
  <input type="date" name="workoutDate" id="workoutDate"> <br>
  <input type="checkbox" name="workoutLbs" value="lbs">Lbs? <br>
  <input type="checkbox" name="workoutKgs" value="kgs">Kgs? <br>
  <input type="submit" name="Add Workout" value="Add Workout">
</form>
<p>{{results}}</p>