<h1>Your Workouts: </h1>
<form id="newWorkout">
	<fieldset style="margin-bottom: 15px">
		<legend>Add a Workout</legend>
		<input type="hidden" name="id" value="{{this.id}}">

		<label for="workoutName">Name:  </label>
		<input type="text" name="name" id="workoutName">

		<label for="workoutReps">Reps: </label> 
		<input type="number" name="workoutReps" id="workoutReps"> <br>

		<label for="workoutWeight">Weight: </label>
		<input type="number" name="workoutWeight" id="workoutWeight">

		<label for="workoutDate">Date: </label>
		<input type="date" name="workoutDate" id="workoutDate"> <br>

		<input id="lbsCheck" type="checkbox" name="workoutLbs" value="lbs">Lbs? <br>
		<input id="newWorkoutBtn" type="submit" name="Add Workout" value="Add Workout">
	</fieldset>
</form>

<div style="text-align: center">
	<table id="workoutTable" border="1">
		<thead>
			<td>Exercise Name</td>
			<td>Number of Reps</td>
			<td>Weight</td>
			<td>Date</td>
			<td>Unit of Weight</td>
		<thead>
		<tbody id="tableBody">
		</tbody>
	</table>
</div>
