<h1>Your Workouts: </h1>
<form method="post">
  <label for="workoutName">Workout Name: </label>
  <input type="text" name="name" id="workoutName">
  <label for="workoutReps">Reps: </label>
  <input type="number" name="workoutReps" id="workoutReps">
  <label for="workoutWeight">Weight: </label>
  <input type="number" name="workoutWeight" id="workoutWeight">
  <label for="workoutDate">Date: </label>
  <input type="date" name="workoutDate" id="workoutDate">
  <label for="workoutUnit">In lbs? </label>
  <input type="checkbox" name="workoutLbs" value="lbs">
  <input type="checkbox" name="workoutKgs" value="kgs">
  <input type="submit" name="Add Workout" value="Add Workout">
</form>
<p>{{results}}</p>